* {
    padding: 0;
    margin: 0;
}

html,
body,
#backgroundRain {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #333;
}

#backgroundRain {
    z-index: 0;
    position: absolute;
    mix-blend-mode: screen;
}

html,
body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: relative;
    z-index: 10;
    margin: auto;
    height: 100%;
    max-width: 1300px;
    /* background: #3339; */
}

#container > * {
    width: 100%;
    text-align: center;
}

a {
    color: #0bb
}

a:visited {
    color: #0bb
}

a:hover {
    color: #0cc
}

a:active {
    color: #7dd
}

#container .platforms>a {
    margin: 50px;
}

.logo,
.platforms a {
    display: inline-block;
    min-height: 150px;
    min-width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

.fryzen {
    background: url("../media/images/fryzen_bak1.png") no-repeat;
    background-size: contain;
    min-width: 320px;
    max-width: 320px;
    margin: auto;
    height: 180px;
    z-index: 10;
    margin-top: 50px;
}

.telegram {
    background-image: url("../media/images/telegram.png");
}

.gitlab {
    background-image: url("../media/images/gitlab.png");
}

.github {
    background-image: url("../media/images/github.png");
}

.codepen {
    background-image: url("../media/images/codepen.png");
}

.sourcerer {
    background-image: url("");
}