<div style="margin: auto; max-width: 1200px; height: 100%;">
    <h1>404</h1>
    <h2>Only Rick remains</h2>

    <iframe width="640px" height="360px" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>